<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>服务器管理
        </div>
        <div class="tools">
            <a class="glyphicon glyphicon-plus" href="javascript:;">
            </a>
            <button type="button" class="btn red-haze btn-sm" ng-click="Create();">新建
            </button>
        </div>
    </div>

    <div class="portlet-body">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <label>Filter:
                    <input type="search" class="form-control input-large input-inline" placeholder="IP/NameServer" ng-model='searchKey'>
                </label>
                <a href="javascript:void(0);" ng-click="Search(searchKey)" class="btn btn-sm btn-primary">搜索</a>
                <a href="javascript:void(0);" ng-click="Search('')" class="btn btn-sm btn-primary">重置</a>
            </div>
        </div>
        <table class="table table-bordered">
            <tbody>
            <tr>
                <th>服务器ID</th>
                <th>服务器名称</th>
                <th>服务器位置</th>
                <th>操作系统</th>
                <th>内存大小</th>
                <th>硬盘大小</th>
                <th>CPU信息</th>
                <th>服务器分类</th>
                <th>服务器带宽</th>
                <th>服务器IP0</th>
                <th>服务器IP1</th>
                <th>服务器IP2</th>
                <th>创建时间</th>
                <th>最后更新时间</th>
                <th>操作</th>
            </tr>

            <tr ng-repeat="o in rows">
                <td>{{ o.ServerId }}</td>
                <td>{{ o.NameServer }}</td>
                <td>{{ o.Location }}</td>
                <td>{{ o.OsVersion }}</td>
                <td>{{ o.Memory }}</td>
                <td>{{ o.Disk }}</td>
                <td>{{ o.Cpu }}</td>
                <td>{{ o.Sorts }}</td>
                <td>{{ o.BandWidth }}</td>
                <td>{{ o.Ip0 }}</td>
                <td>{{ o.Ip1 }}</td>
                <td>{{ o.Ip2 }}</td>
                <td>{{ o.CreateTime }}</td>
                <td>{{ o.UpdateTime }}</td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-sm" ng-click="detail($index)">查看</button>
                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:;" ng-click="edit($index)">编辑</a></li>
                            <li><a href="javascript:;" ng-click="Delete($index)">删除</a></li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-primary btn-sm glyphicon glyphicon-plus" ng-click="addNginx(o.ServerId)">Nginx配置</button>
                    <button type="button" class="btn btn-primary btn-sm glyphicon glyphicon-plus" ng-click="addMysql(o.ServerId)">Mysql配置</button>
                </td>
            </tr>

            </tbody>
        </table>
        <paging
                class="small"
                page="currentPage"
                page-size="pageSize"
                total="total"
                adjacent="{{adjacent}}"
                dots="{{dots}}"
                scroll-top="{{scrollTop}}"
                hide-if-empty="{{hideIfEmpty}}"
                ul-class="{{ulClass}}"
                active-class="{{activeClass}}"
                disabled-class="{{disabledClass}}"
                show-prev-next="{{showPrevNext}}"
                paging-action="pageAction( page )">
        </paging>
    </div>
</div>

<script type="text/ng-template" id="add.html">
    <div class="modal-header">
        <div class="caption">
            <h4>{{ title.title }}</h4>
        </div>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" role="form">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">服务器名称</label>

                            <div class="col-md-9">
                                <input type="text" class="form-control input-inline input-medium" placeholder="服务器名称"
                                       ng-model="item.NameServer">
                                <span class="help-inline"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">服务器位置</label>
                            <div class="col-md-9">
                               <input type="text" class="form-control input-inline input-medium" placeholder="服务器位置"
                                       ng-model="item.Location">
                                <span class="help-inline"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">操作系统</label>

                            <div class="col-md-9">
                                <input type="text" class="form-control input-inline input-medium" placeholder="操作系统"
                                       ng-model="item.OsVersion">
                                <span class="help-inline"></span>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">内存大小</label>

                            <div class="col-md-9">
                                <input type="text" class="form-control input-inline input-medium" placeholder="内存大小"
                                       ng-model="item.Memory">
                                <span class="help-inline"></span>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">硬盘大小</label>

                            <div class="col-md-9">
                                <input type="text" class="form-control input-inline input-medium" placeholder="硬盘大小"
                                       ng-model="item.Disk">
                                <span class="help-inline"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">CPU信息</label>

                            <div class="col-md-9">
                                <input type="text" class="form-control input-inline input-medium" placeholder="CPU信息"
                                       ng-model="item.Cpu">
                                <span class="help-inline"></span>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">服务器分类</label>

                            <div class="col-md-9">
                                <input type="text" class="form-control input-inline input-medium" placeholder="服务器分类"
                                       ng-model="item.Sorts">
                                <span class="help-inline"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">服务器带宽</label>

                            <div class="col-md-9">
                                <input type="text" class="form-control input-inline input-medium" placeholder="服务器带宽"
                                       ng-model="item.BandWidth">
                                <span class="help-inline"></span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">IP0</label>

                            <div class="col-md-9">
                                <input type="text" class="form-control input-inline input-medium" placeholder="第一个IP"
                                       ng-model="item.Ip0">
                                <span class="help-inline"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">IP1</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control input-inline input-medium" placeholder="第二个IP"
                                       ng-model="item.Ip1">
                                <span class="help-inline"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">IP2</label>

                            <div class="col-md-9">
                                <input type="text" class="form-control input-inline input-medium" placeholder="第三个IP"
                                       ng-model="item.Ip2">
                                <span class="help-inline"></span>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="Save()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancle</button>
    </div>
</script>

<script type="text/ng-template" id="edit.html">
    <div class="modal-header">
        <div class="caption">
            <h4>{{ title.title }}</h4>
        </div>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" role="form">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">服务器名称</label>

                            <div class="col-md-9">
                                <input type="text" class="form-control input-inline input-medium" placeholder="名称"
                                       ng-model="item.NameServer">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">服务器位置</label>

                            <div class="col-md-9">
                                <input type="text" class="form-control input-inline input-medium" placeholder="服务器位置"
                                       ng-model="item.Location">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">操作系统</label>

                            <div class="col-md-9">
                                <input type="text" class="form-control input-inline input-medium" placeholder="操作系统"
                                       ng-model="item.OsVersion">
                                <span class="help-inline"></span>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">内存大小</label>

                            <div class="col-md-9">
                                <input type="text" class="form-control input-inline input-medium" placeholder="内存大小"
                                       ng-model="item.Memory">
                                <span class="help-inline"></span>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">硬盘大小</label>

                            <div class="col-md-9">
                                <input type="text" class="form-control input-inline input-medium" placeholder="硬盘大小"
                                       ng-model="item.Disk">
                                <span class="help-inline"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">CPU信息</label>

                            <div class="col-md-9">
                                <input type="text" class="form-control input-inline input-medium" placeholder="CPU信息"
                                       ng-model="item.Cpu">
                                <span class="help-inline"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">服务器分类</label>

                            <div class="col-md-9">
                               <input type="text" class="form-control input-inline input-medium" placeholder="服务器分类"
                                       ng-model="item.Sorts">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">服务器带宽</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control input-inline input-medium" placeholder="服务器带宽"
                                       ng-model="item.BandWidth">
                                <span class="help-inline"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">IP0</label>

                            <div class="col-md-9">
                                <input type="text" class="form-control input-inline input-medium" placeholder="第一个IP"
                                       ng-model="item.Ip0">
                                <span class="help-inline"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">IP1</label>

                            <div class="col-md-9">
                                <input type="text" class="form-control input-inline input-medium" placeholder="第二个IP"
                                       ng-model="item.Ip1">
                                <span class="help-inline"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">IP2</label>

                            <div class="col-md-9">
                                <input type="text" class="form-control input-inline input-medium" placeholder="第三个IP"
                                       ng-model="item.Ip2">
                                <span class="help-inline"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" ng-model="item.ServerId" />
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="Save()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancle</button>
    </div>
</script>

<script type="text/ng-template" id="detail.html">
    <div class="modal-header">
        <div class="caption">
            <h4>{{ title.title }}</h4>
        </div>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" role="form">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">服务器名称</label>

                            <div class="col-md-9">
                                <p class="form-control-static">{{item.NameServer}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">服务器位置</label>

                            <div class="col-md-9">
                                <p class="form-control-static">{{ item.Location }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">操作系统</label>

                            <div class="col-md-9">
                                <p class="form-control-static">{{ item.OsVersion }}</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">内存大小</label>

                            <div class="col-md-9">
                                <p class="form-control-static">{{ item.Memory }}</p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">硬盘大小</label>

                            <div class="col-md-9">
                                <p class="form-control-static">{{ item.Disk }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">CPU信息</label>

                            <div class="col-md-9">
                                <p class="form-control-static">{{ item.Cpu }}</p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">服务器分类</label>

                            <div class="col-md-9">
                                <p class="form-control-static">{{ item.Sorts }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">服务器带宽</label>
                            <div class="col-md-9">
                                <p class="form-control-static">{{item.BandWidth}}</p>
                                <span class="help-inline"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">服务器IP0</label>

                            <div class="col-md-9">
                                <p class="form-control-static">{{ item.Ip0 }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">服务器IP1</label>
                            <div class="col-md-9">
                                <p class="form-control-static">{{item.Ip1}}</p>
                                <span class="help-inline"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">服务器IP2</label>

                            <div class="col-md-9">
                                <p class="form-control-static">{{ item.Ip2 }}</p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">创建时间</label>

                            <div class="col-md-9">
                                <p class="form-control-static">{{ item.CreateTime }}</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">创建人</label>

                            <div class="col-md-9">
                                <p class="form-control-static">{{ item.CreateId }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">最后更改</label>

                            <div class="col-md-9">
                                <p class="form-control-static">{{ item.UpdateTime }}</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">修改人</label>

                            <div class="col-md-9">
                                <p class="form-control-static">{{ item.UpdateId }}</p>
                            </div>
                        </div>
                    </div>
                </div>
        </form>
    </div>
</script>

<script type="text/ng-template" id="delete.html">
    <div class="modal-header">
        <div class="caption">
            <h4>{{ title.title }}</h4>
        </div>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" role="form">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                           确定要删除{{ item.NameServer }}服务器？
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="Delete()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancle</button>
    </div>
</script>


<script type="text/ng-template" id="statics.html">
    <div class="modal-header">
        <div class="caption">
            <h4>{{ title }}</h4>
        </div>
    </div>
    <div class="modal-body">
        <highchart id="chart1" config="item"></highchart>
    </div>
</script>