<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
        <li class="start ">
            <a href="#/">
                <i class="icon-home"></i>
                <span class="title">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <i class="icon-rocket"></i>
                <span class="title">备份管理</span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a ui-sref=".task" href="javascript:;">
                        <span class="title">任务管理</span>
                    </a>
                </li>
                <li>
                    <a ui-sref=".tasklog" href="javascript:;">
                        <span class="title">日志列表</span>
                    </a>
                </li>
                <li>
                    <a ui-sref=".types" href="javascript:;">
                        <span class="title">类型管理</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;">
                <i class="icon-rocket"></i>
                <span class="title">配置管理</span>
            </a>
            <ul class="sub-menu">
                <li class="">
                    <a ui-sref=".server" href="javascript:;">
                        <span class="title">服务器管理</span>
                    </a>
                </li>
                <li>
                    <a ui-sref=".nginx" href="javascript:;">
                        <span class="title">Nginx管理</span>
                    </a>
                </li>
                <li>
                    <a ui-sref=".mysql" href="javascript:;">
                        <span class="title">Mysql管理</span>
                    </a>
                </li>
                <li>
                    <a  href="/tpl/d3/">
                        <span class="title">图形管理</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- END SIDEBAR MENU -->
</div>
