<div class="modal-header">
        <div class="caption">
            <h4>{{ title.title }}</h4>
        </div>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" role="form">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">授权命令</label>

                            <div class="col-md-9">
                                <textarea class="form-control input-inline input-medium" placeholder="授权命令"
                                       ng-model="item.AuthCom"></textarea>
                                <span class="help-inline"></span>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="Save()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancle</button>
    </div>